{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
        <div id="error" class="row"></div>
        <div class="row">
            <div id="main" class="col-md-9">
                <div id="map">
                    <div id="virginia" style="visibility: hidden;">
                        <ol class="breadcrumb breadcrumb-arrow">
                            <li><a href="#">World</a></li>
                            <li><a href="#">USA</a></li>
                            <li class="active"><span>Virginia</span></li>
                        </ol>
                    </div>
                    <div id="usa" style="display: none;">
                        <ol class="breadcrumb breadcrumb-arrow">
                            <li><a href="#">World</a></li>
                            <li class="active"><span>USA</span></li>
                        </ol>
                    </div>
                    <div id="world" style="display: none;">
                        <ol class="breadcrumb breadcrumb-arrow">
                            <li class="active"><span>World</span></li>
                        </ol>
                    </div>
                </div>
                <div id="sc">
                    <label for="slider" title="Select Year" style="padding-bottom: 5px;">Year</label>
                    <div id="slider"></div>
                </div>
            </div>
            <div id="filter" class="col-md-3">
                <label title="Select Colleges" style="padding-bottom:5px;">Colleges</label><br>
                <div id="col_dep" class="col-lg-12">
                    <button id="btn_di" type="button" class="btn btn-block btn-primary" data-toggle="dropdown">
                        Colleges & Departments<span class="caret" style="float: right;"></span>
                    </button>
                    <ul id="cd_dd" class="dropdown-menu">
                        <input id="cc0" type="checkbox" value="0" style="margin-left: 10;" onClick="selectCollege(this)"
                               checked/>
                        <label for="cc0" style="margin-left: 5;">All Colleges & Departments</label><br>
                    </ul>
                </div>
                <br><br>
                <hr>
                <div id="gn">
                    <label for="gn" title="Select Gender">Gender</label><br>
                    <img id="f_img" title="Female" class="inactive_img active_img clickable" src="/static/img/fa.png"
                         onClick="selectGender(this.id, 1);"></img>
                    <img id="m_img" title="Male" class="inactive_img active_img clickable" src="/static/img/ma.png"
                         onClick="selectGender(this.id, 2);"></img>
                    <img id="n_img" title="Unknown" class="inactive_img active_img clickable" src="/static/img/na.png"
                         onClick="selectGender(this.id, 3);"></img>
                </div>
                <hr>
                <div id="rc">
                    <label for="rc" title="Select Race">Ethnicity</label><br>
                    <div id="chart">
                        <script> displayChart(); </script>
                    </div>
                </div>
                <hr>
                <div id="al">
                    <label for="al" title="Select Academic Level">Academic Level</label><br>
                    <div class="checkbox">
                        <label><input id="al0" type="checkbox" value="0" onClick='selectAcad(this)'>All Students</label><br>
                        <label style="margin-left:20;"><input id="al1" type="checkbox" value="1"
                                                              onClick='selectAcad(this)'>All Graduates</label><br>
                        <label style="margin-left:40;"><input id="al5" type="checkbox" value="5"
                                                              onClick='selectAcad(this)'>Masters</label><br>
                        <label style="margin-left:60;"><input id="al9" type="checkbox" value="9"
                                                              onClick='selectAcad(this)'>Entering Masters</label><br>
                        <label style="margin-left:40;"><input id="al6" type="checkbox" value="6"
                                                              onClick='selectAcad(this)'>PhDs</label><br>
                        <label style="margin-left:60;"><input id="al10" type="checkbox" value="10"
                                                              onClick='selectAcad(this)'>Entering Doctoral</label><br>
                        <label style="margin-left:20;"><input id="al2" type="checkbox" value="2"
                                                              onClick='selectAcad(this)'>Undergraduates</label><br>
                        <label style="margin-left:40;"><input id="al7" type="checkbox" value="7"
                                                              onClick='selectAcad(this)'>Entering Freshman</label><br>
                        <label style="margin-left:20;"><input id="al3" type="checkbox" value="3"
                                                              onClick='selectAcad(this)'>DVM</label><br>
                        <label style="margin-left:40;"><input id="al8" type="checkbox" value="8"
                                                              onClick='selectAcad(this)'>Entering Freshman</label><br>
                        <label style="margin-left:20;"><input id="al4" type="checkbox" value="4"
                                                              onClick='selectAcad(this)'>Entering Transfer</label>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onClick="submitRequest();">
                    <span class="glyphicon glyphicon-search"></span> View Students Distribution
                </button>
                <p>
                <p>
                <p>
                <p>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
        	setupCollegeDropDown();
            checkAllAcad();
            checkAllCollege();
            setupYearSlider();
        }
    </script>
{% endblock %}