{% extends "base.html" %}

{% block content %}
  					<div class="input-group">
						<div class="input-group-btn">
							<button tabindex="-1" class="btn btn-default" type="button">Select</button>
							<button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
							<span class="caret"></span>
							</button>
							<ul role="menu" class="dropdown-menu">
								<li><a href="#">
								<input type="checkbox"><span class="lbl"> Every day</span>
								</a></li>
								<li class="divider"></li>
								<li><a href="#">
								<input type="checkbox">
								<span class="lbl"> Monday</span>
							</a></li>
								<li><a href="#">
								<input type="checkbox"><span class="lbl">
								Tuesday</span>
								</a></li>
								<li><a href="#">
								<input type="checkbox"><span class="lbl">
								Wednesday</span>
								</a></li>
								<li><a href="#">
								<input type="checkbox"><span class="lbl">
								Thursday</span>
								</a></li>
								<li><a href="#">
								<input type="checkbox"><span class="lbl">
								Friday</span>
								</a></li>
								<li><a href="#">
								<input type="checkbox"><span class="lbl">
								Saturday</span>
								</a></li>
								<li><a href="#">
								<input type="checkbox"><span class="lbl">
								Sunday</span>
							</a></li>
								<li class="divider"></li>
								<li><a href="#">
								<input type="checkbox"><span class="lbl"> Last Weekday in month</span>
</a></li>
							</ul>
						</div>
						<input type="text" class="form-control">
					</div>

{% endblock %}