{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">Map goes here.</div>
    <div id="filter" class="col-md-3">
      <div id="di">
		<label>Departmental Information</label><br>
		<select class="form-control" id="sel1">
    	  <option>1</option>
    	  <option>2</option>
    	  <option>3</option>
    	  <option>4</option>
  		</select>
  	  </div>
	  <hr>
	  <div id="gn">
		<label>Gender</label><br>
		<img src="/static/img/female.png"></img>
		<img src="/static/img/male.png"></img>
		<img src="/static/img/na.png"></img>
	  </div>
      <hr>
      <div id="rc">
        <label>Race</label><br>
        <div id="chart">
          <script> displayChart(); </script>
		</div>
	  </div>
	  <hr>
	  <div id="al">
	    <label for="sel1" title="Pick Academic Level">Academic Level</label><br>
        <div class="checkbox">
  		  <label><input type="checkbox" value="">All Students</label><br>
  		  <label style="margin-left:20;"><input type="checkbox" value="">Graduates</label><br>
  		  <label style="margin-left:40;"><input type="checkbox" value="">Masters</label><br>
  		  <label style="margin-left:40;"><input type="checkbox" value="">PhDs</label><br>
  		  <label style="margin-left:20;"><input type="checkbox" value="">Undergraduate</label><br>
  		  <label style="margin-left:40;"><input type="checkbox" value="">Entering Freshman</label><br>
  		  <label style="margin-left:40;"><input type="checkbox" value="">Entering Transfer</label><br>
  		  <label style="margin-left:40;"><input type="checkbox" value="">Continuing Students</label><br>
  		  <label style="margin-left:20;"><input type="checkbox" value="">DVM</label><br>
  		  <label style="margin-left:40;"><input type="checkbox" value="">Entering Freshman</label><br>
  		  <label style="margin-left:40;"><input type="checkbox" value="">Entering Transfer</label>
		</div>
	  </div>
	  <button type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-search"></span> View Distribution
      </button>
      <p><p><p><p>
	</div>
  </div>
</div>

{% endblock %}