.windows_blue {
	/*(53,126,199)*/
	color: #357EC7;
}

.clickable {
    cursor: hand;
}

.inactive_img {
	border: solid 5px white;
}

.active_img {
	border: solid 5px;
	border-bottom-color: #357EC7;
	border-left-color: white;
	border-right-color: white;
	border-top-color: white;
}

.indented {
	margin-left: 20;
}

#sc {
	margin-top: 20px;
}